<% include template/header %>
    <!--    Breadcrumb-->
    <div class="container myorderdetail">
        <ul class="breadcrumb">
            <li>
                <a href="#">My accounts</a>
            </li>
            <li>
                <a href="#">My orders</a>
            </li>
            <li class="lastcrumb">
                <a href="#">Order details</a>
            </li>
        </ul>
    </div>
    <!--    Breadcrumb-->
    <div class="container myorderdetail">
        <h4 class="cancelquestion">My Orders</h4>
        <% if(data==""){ %><h4>No orders placed yet</h4><% } %>
        <% if(data!="undefined"){
            data.forEach(function(myorder){
                let total_item = myorder.product.length;
            %>

            <div class="row" style="margin-top:25px; margin-bottom: 15px;">
                <div class="col-sm-8 col-xs-12">
                    <span class="badge myorderbagde">
                        Order ID
                        <span class="orderid">
                            <%= myorder.o_id %>
                        </span>
                    </span>
                    <p class="myorderitems">Total items :
                        <span class="itemcount">
                            <%= total_item %>
                        </span>
                    </p>
                </div>
                <div class="col-sm-4 text-right viewall hidden-xs">
                    <a href="#" class="text-info">View Details</a>
                </div>
            </div>
            <% if(myorder.product!="undefined"){
                var productList= myorder.product;
                myorder.product.forEach(function(products){
                %>
                <div class="panel panel-default myorderpanel mb-0">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-4">
                                <% if(products.ct_discount_percentage!=null){ %> <p class="discountprice hidden-xs">-10%</p><%} %>
                                <img src="<%= products.p_image %>" class="img-responsive productimg">
                            </div>
                            <div class=" col-md-4 col-sm-3  text-left">
                                <h4><%= products.p_name %></h4>
                                <ul class="productdesclist  hidden-xs hide">
                                    <li>- Nutella hazelnut chocolate spread
                                        <span class="productgrade">X 1</span>
                                    </li>
                                    <li> - Kellogg’s frosties
                                        <span class="productgrade">X 1</span>
                                    </li>
                                    <li>- Hershey’s strawberry syrup
                                        <span class="productgrade">X 1</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3  hidden-xs">
                                <div class="deliverystate">
                                    <p class="progresstext">In progress</p>
                                    <p class="packcount">Estimated Delivery:
                                        <span class="deliverydate">03 Jun 2018</span>
                                    </p>
                                </div>

                            </div>
                            <div class="col-sm-3 text-center">
                                <% if(products.ct_discount_price!=null){ %><h5 class="offeredprice"><%= products.ct_discount_price %> AED</h5> <% } %>
                                <h6 class="price"><%= products.ct_price %> AED</h6>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="cancelorder">
                        <div class="deliverystate-mob hidden-sm hidden-md hidden-lg">
                            <p class="progresstext">In progress</p>
                            <p class="packcount">Estimated Delivery:
                                <span class="deliverydate">03 Jun 2018</span>
                            </p>
                        </div>
                        <hr class="hidden-sm hidden-md hidden-lg">
                        <div class="row">
                            <div class="col-xs-6 col-sm-offset-6 col-sm-6">
                                <a href="#" class="">
                                    <img src="img/cancelimg.png" class="img-responsive cancelimg">Cancel Order</a>
                            </div>
                            <div class="col-xs-6 hidden-sm hidden-md hidden-lg">
                                <a href="#" class="trackinglink">
                                    <img src="img/track.png" class="img-responsive cancelimg">Track Package</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% 
        })
    }
        })
            } %>
    </div>
    <% include template/footer %>