<% include template/header %>
    <!--  bundle  Product  starts here-->
    <div class="bnd-products">
        <div class="container-fluid create-bundle" style="margin-top: 20px;">
            <div class="container">
                <div class="row" id="cBundle-desktop">
                    <h4>
                        <img src="img/bundle-2.png" alt="choose-bundle" /> My Shopping</h4>
                </div>
                <% var listProducts= data[0].products %>
                <div class="row text-center" id="cBundle-mobile" style="margin-bottom: 10px">
                    <img src="img/choose-bundle.png" alt="choose-bundle" style="display: inline-block;height:35px" />
                    <p style="display: inline-block;"><%=data[0].sl_name %>(10 items)</p>
                </div>
                <div class="row">
                    <div class="edit-bundle">
                        <h5 style="display: inline-block;"><%= data[0].sl_name %></h5>
                        <img src="img/edit-bundle.png" alt="edit-bundle" /> </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mycart" ng-app="myapp" ng-controller="myshippingList">
            <div class="container container1">
                <form name="shipplistForm" ng-submit="updateShipplist()">
                <div class="row">
                    <div class="col-md-8 no-pad mybunedit">
                        <%
                        listProducts.forEach(function(pro){
                            var prodata= pro.product[0];
                            var proUrl= (pro.bundle_flag)?"bundle-detail":"product-detail";
                            var pro_name= pro.product_name.replace(/\s+/g, '-').toUpperCase();
                            var product_url=proUrl+"/"+pro.product_id+"/"+pro_name;
                        %>
                        <div class="panel panel-default productpanel">
                            <div class="panel-body">
                                <div class="row" style="padding-top:40px;  padding-bottom: 48px">
                                    <div class="col-xs-1">
                                        <div class="checkbox checkbox-info check-align">
                                            <input id="p<%=prodata.pd_id%>" type="checkbox" value="<%=prodata.pd_id%>" name="proudct_id[]" checked>
                                            <label for="p<%=prodata.pd_id%>"> </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-4 mobright">
                                        <p class="discountprice hidden-xs">-10%</p>
                                        <img src=" <%=prodata.p_image%>" class="img-responsive productimg"> </div>
                                    <div class="col-md-7 col-xs-6">
                                        <p class="discountprice mob-dprice hidden-sm hidden-md hidden-lg">-10%</p>
                                        <h4><a href="<%=product_url%>"><%=pro.product_name%></a></h4>
                                        <p><%=prodata.pd_description.substring(0, 250)%></p>
                                        <div class="col-xs-4 col-sm-6 col-md-4 mobile-pad no-pad">
                                            <div class="productcountdiv button-container">
                                                <button class="btn btn-default productminus cart-qty-minus" ng-click="qty_minus('qty_',<%=prodata.pd_id%>)" value="-">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input type="text" name="qty_<%=prodata.pd_id%>" maxlength="12" value="<%=prodata.order_qty%>" class="input-text qty  productcount" disabled/>
                                                <button class="btn btn-default productplus cart-qty-plus" ng-click="qty_plus('qty_',<%=prodata.pd_id%>)" value="+">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <h6 class="rate">
                                                <span><%=prodata.p_price%> AED</span> <%=prodata.p_price%> AED</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%
                        });
                        %>

                        <!-- <div id="shop-desktop">
                            <a href="#">
                                <h5 class="continue-text">+ Add more products</h5>
                            </a>
                        </div> -->
                    </div>
                    <div class="col-md-4 mybundleit" style="margin-top: 10px;" id="summary-desktop">
                        <div class="summary bnd-products">
                            <h4 class="order">Order Summary</h4>
                            <div id="subtotal">
                                <h5 class="total">Subtotal</h5>
                                <h5 class="total" style="float: right;">62.00 AED</h5>
                                <hr>
                            </div>
                            <div id="delivery">
                                <h5 class="total">Delivery Charges</h5>
                                <h5 class="total" style="float: right;">15.00 AED</h5>
                            </div>
                            <div id="savings" style="margin-top: 20px">
                                <h5 class="total">
                                    <strong>savings</strong>
                                </h5>
                                <h5 class="total" style="float: right;">
                                    <strong>7.50 AED</strong>
                                </h5>
                            </div>
                            <div id="total" style="margin-top: 20px">
                                <h5 class="total">
                                    <strong>Grand total</strong>
                                    <br>
                                    <span>(inclusive of 5%VAT)</span>
                                </h5>
                                <h5 class="total" style="float: right;">
                                    <strong>50.00 AED</strong>
                                </h5>
                            </div>
                        </div>
                        <button type="submit" class="btn-proceed">Create(1/2)</button>
                        <button type="reset" class="btn-cancel">Cancel</button>
                    </div>
                </div>
                <div class="row" id="summary-mobile">
                    <div class="col-md-4 no-pad summary summary1">
                        <div class="btn-align">
                            <button type="submit" class="btn-cancel">Cancel</button>
                            <button type="reset" class="btn-proceed">Create(1/2)</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!--     Product list ends here-->
    <% include template/footer %>