<% include template/header %>
    <!--    Breadcrumb-->
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="home">Home</a>
            </li>
            <li>
                <a href="#">Food Cupboard</a>
            </li>
            <li class="lastcrumb">
                <a href="product-listing">Breakfast Cereals</a>
            </li>
        </ul>
    </div>
    <!--    Breadcrumb-->
    <!--    Carousel strts here-->
    <div class="container-fluid carouseldiv">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/sliderimg1.jpg" alt="Los Angeles" style="width: 100%;">
                </div>

                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="Chicago" style="width: 100%;">
                </div>

                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="New York" style="width: 100%;">
                </div>
                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="New York" style="width: 100%;">
                </div>
                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="New York" style="width: 100%;">
                </div>
            </div>
        </div>

    </div>
    <!--    Carousel ends here-->

    <!--    Product list starts here-->
    <div class="container-fluid productlistpage" ng-app="myapp" ng-controller="product_listing">
        <div class="container productlistpagec">
            <div class="row">
                <div class="col-md-3 col-sm-4 hidden-xs" style="padding-top: 30px;">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Catagory
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" href="#collapse1">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <%= data.product_config["cat_filter"].cat %>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding-left: 20px;">
                                    <ul class="list-group">
                                        <% if(data.product_config["cat_filter"].supcat!=""){
                                            data.product_config["cat_filter"].supcat.forEach(function(subcat){ 
                                            %>
                                            <li class="list-group-item">
                                                <%= subcat.subcat_name %>
                                                    (
                                                    <%= subcat.c %>)
                                            </li>
                                            <% })
                                        } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" href="#collapse2">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Brand
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <!--                                    <p class="brandsearch">Search by brand</p>-->
                                    <input class="brandsearch" type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search by brand" title="Type in a name"
                                        style="border: none;
        width: 100%;margin-bottom: 10px;outline: none;">
                                    <ul class="list-group brandlist" id="brandlist">
                                        <% if(data.product_config["brand_filter"]!=""){
                                                data.product_config["brand_filter"].forEach(function(brand){ 
                                                %>
                                            <li class="list-group-item">
                                                <div class="checkbox checkbox-info">
                                                    <input id=" <%= brand.b_id %>" type="checkbox">
                                                    <label for="brand1">
                                                        <%= brand.b_name %>
                                                    </label>
                                                </div>
                                            </li>
                                            <% })
                                        } %>
                                                <p id="notfound" style="display: none;padding: 10px 20px;color: #dddddd;">No other items found</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" href="#collapse3">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Price
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <% if(data.product_config["price_filter"]!=""){
                                            data.product_config["price_filter"].forEach(function(price){ 
                                                %>
                                            <li class="list-group-item">
                                                <div class="checkbox checkbox-info">
                                                    <input id="price1" type="checkbox" ng-click="filter(price,<%= price.start!=''?price.start:0 %>,<%= price.end!=''?price.end:0 %>)">
                                                    <label for=" price1 ">
                                                        <%=price.start==" "?"Less then ":"" %>
                                                            <%=price.end==" "?"More then ":"" %>
                                                                <%= price.start %>
                                                                    <%= (price.start == "" || price.end == "")?"":" - " %>
                                                                        <%= price.end %> AMD
                                                    </label>
                                                </div>
                                            </li>
                                            <% })
                                         } %>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default ">
                            <a data-toggle="collapse " href="#collapse4 ">
                                <div class="panel-heading ">
                                    <h4 class="panel-title ">
                                        Discounts
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse4 " class="panel-collapse collapse in ">
                                <div class="panel-body ">
                                    <ul class="list-group ">
                                        <% if(data.product_config["discount_filter"]!=""){
                                                    data.product_config["discount_filter"].forEach(function(discount){ 
                                                        %>
                                            <li class="list-group-item ">
                                                <div class="checkbox checkbox-info ">
                                                    <input id="discount1" type="checkbox" ng-click="filter(discount,<%= discount.start!=''?discount.start:0 %>,<%= discount.end!=''?discount.end:0 %>)">
                                                    <label for="discount1">
                                                        <%=discount.start==""?"Less then":"" %>
                                                            <%=discount.end==""?"More then":"" %>
                                                                <%= discount.start %>
                                                                    <%= (discount.start == "" || discount.end == "")?"":" - " %>
                                                                        <%= discount.end %> %
                                                    </label>
                                                </div>
                                            </li>
                                            <%  })
                                        } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 hidden-xs" style="padding-top: 15px;">
                            <h4 class="productlisttitle"> <%= data.product_config["cat_filter"].cat %>
                                <span class="titlecount">({{productData.length}})</span>
                            </h4>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-6 " style="padding-top: 20px;padding-bottom:10px;padding-left: 0px;padding-right: 15px;">
                            <div class="dropdown sortdropdown">
                                <button class="btn btn-default sortbtn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                    <img src="img/sort.png" class="img-responsive sortimg">SORT
                                    <i class="fa fa-chevron-down sortdown hidden-xs"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation" class="active">
                                        <a role="menuitem" href="#">
                                            <img src="img/popularity.png" class="img-responsive sortimg">Popularity</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">
                                            <img src="img/latest.png" class="img-responsive sortimg">Latest</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">
                                            <img src="img/discount.png" class="img-responsive sortimg">Discount</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">
                                            <img src="img/plh.png" class="img-responsive sortimg">Price (Low to High)</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">
                                            <img src="img/phl.png" class="img-responsive sortimg">Price (High to Low)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 hidden-sm hidden-md hidden-lg" style="padding-top: 20px;padding-bottom:10px;padding-left: 0px;padding-right: 15px;">
                            <div class="dropdown sortdropdown">
                                <button class="btn btn-default sortbtn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                    <img src="img/filter.png" class="img-responsive filterimg">FILTER
                                    <i class="fa fa-chevron-down sortdown"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation" style="padding-left: 10px">Catagory</li>
                                    <li class="divider"></li>
                                    <li role="presentation" style="padding-left: 10px">Breakfast Cereals (132)</li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">Flakes (50)</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">Granola & Cereal bars (30)</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">Museli (32)</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="#">Oats & Porridge (20)</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" style="padding-left: 10px">Brand</li>
                                    <li role="presentation" style="margin-top: 10px">
                                        <input class="brandsearch" type="text" id="searchInputt" onkeyup="mobsearchFunction()" placeholder="Search by brand" title="Type in a name"
                                            style="border: none;
        width: 100%;margin-bottom: 10px;outline: none;">
                                    </li>
                                    <ul class="list-group brandlist" id="brandlistt">
                                        <li class="list-group-item">

                                            <div class="checkbox checkbox-info">
                                                <input id="brand1" type="checkbox">
                                                <label for="brand1">
                                                    Kellogg’s
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand2" type="checkbox">
                                                <label for="brand2">
                                                    Nestle
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand3" type="checkbox">
                                                <label for="brand3">
                                                    Tesco
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand4" type="checkbox">
                                                <label for="brand4">
                                                    Quaker’s
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand5" type="checkbox">
                                                <label for="brand5">
                                                    Sainbury’s
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand6" type="checkbox">
                                                <label for="brand6">
                                                    By Nature
                                                </label>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand7" type="checkbox">
                                                <label for="brand7">
                                                    Sainbury’s
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand8" type="checkbox">
                                                <label for="brand8">
                                                    By Nature
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="brand9" type="checkbox">
                                                <label for="brand9">
                                                    Quaker’s
                                                </label>
                                            </div>
                                        </li>
                                        <p id="notfoundd" style="display: none;padding: 10px 20px;color: #dddddd;">No other items found</p>
                                    </ul>

                                    <li role="presentation" style="padding-left: 10px">Price</li>
                                    <ul class="list-group">
                                        <li class="list-group-item">

                                            <div class="checkbox checkbox-info">
                                                <input id="price1" type="checkbox">
                                                <label for="price1">
                                                    Less than 20AED
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="price2" type="checkbox">
                                                <label for="price2">
                                                    21 - 50 AED
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="price3" type="checkbox">
                                                <label for="price3">
                                                    51 - 100 AED
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="price4" type="checkbox">
                                                <label for="price4">
                                                    101 - 200 AED
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="price5" type="checkbox">
                                                <label for="price5">
                                                    201 - 500 AED
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="price6" type="checkbox">
                                                <label for="price6">
                                                    More than 500 AED
                                                </label>
                                            </div>


                                        </li>
                                    </ul>
                                    <li role="presentation" style="padding-left: 10px">Discounts</li>
                                    <ul class="list-group">
                                        <li class="list-group-item">

                                            <div class="checkbox checkbox-info">
                                                <input id="discount1" type="checkbox">
                                                <label for="discount1">
                                                    Upto 5%
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="discount2" type="checkbox">
                                                <label for="discount2">
                                                    5% - 10%
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="discount3" type="checkbox">
                                                <label for="discount3">
                                                    10% - 15%
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="discount4" type="checkbox">
                                                <label for="discount4">
                                                    15% - 25%
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-info">
                                                <input id="discount5" type="checkbox">
                                                <label for="discount5">
                                                    More than 25%
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6  col-sm-12" ng-repeat="product in productData">
                        <div ng-include="'includes/product_list.html'"></div>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        app.constant("querydata", {
            'queryparam': <%- JSON.stringify(data.querydata) %>
        });
    </script>
    <!--     Product list ends here-->
    <% include template/footer %>